.app-resume-portfolio {
    width: 100%;
    text-align: left;
}

.app-resume-portfolio-filters {
    margin-bottom: 20px;
}

.app-resume-portfolio-filters button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.active{
    color: rgba(38, 193, 126, 1);
}


.app-resume-portfolio-items {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
}


.app-resume-portfolio-item {
    position: relative;
    margin: 10px;
    flex: 1 0 298px;
    max-width: 298px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.app-resume-portfolio-item img {
    width: 100%;
    display: block;
}

.app-resume-portfolio-item-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height 0.5s ease, background-color 0.5s ease;
}

.app-resume-portfolio-item:hover .app-resume-portfolio-item-overlay {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
}

.app-resume-portfolio-item-text {
    white-space: wrap;
    color: black;
    font-size: 15px;
    height: 90%;
    transition: bottom 0.5s ease;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-resume-portfolio-item-text a {
    margin-top: 10px;
    color: rgb(155, 155, 222);
}
.app-resume-portfolio-item-text a:hover {
    color: blue;
}

.app-resume-portfolio-item:hover .app-resume-portfolio-item-text {
    bottom: 20px;
}