.app-home {
    height: 100vh;
    background-image: url(../../assets/background.png);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
    background-color: rgba(0, 6, 20, 0.5);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
}